body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
iframe {
  min-height: calc(99vh + 44px);
  width: calc(100% + 48px);
  margin: 0;
  padding: 0;
  margin-left: -48px;
  margin-top: -44px;
}
